<div class="container">
        <div class="vertical-center">
          <main>
            <section id="profileSummary">
              <div class="row  align-items-center">
                <div class="col-sm-8 order-last">
                  <article id="introduction">
                    <header align="left">
                      <h1>
                        <strong> Hello ! </strong>
                      </h1>
                      <h4>I am Subodh Subhedar.</h4>
                    </header>
                    <p>
                      <address>
                        <h4>
                          I live in Pune, India.
                        </h4>
                      </address>
                      <h5>
                        Got some nice skills in Java, J2EE, HTML5, JQuery, Angular, Bootstrap, Spring ... and so on.
                        <br>
                        <br>
                        Had the
                        chance
                        to work for Capgemini & Cognizant.
                      </h5>
                  </article>
      
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 order-first" align="center">
                  <aside id="profilePic">
                    <a href="profileHighlights.html">
                      <figure>
                        <picture>
                          <img src="assets/img/profilePic.png" alt="My Profile Pic" class="figure-img img-fluid img-thumbnail rounded" />
                        </picture>
                        <figcaption align="auto" class="figure-caption">Subodh Subhedar
                        </figcaption>
                      </figure>
                    </a>
                  </aside>
                </div>
              </div>
      
            </section>
          </main>
        </div>
      </div>