<div>
    <main>
        <section id="taskManagerNavigation">
            <header>
                <nav class="navbar nav-fill navbar-dark bg-dark ">
                    <div class="container-fluid">
                        <div class="navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <li class="nav-item active">
                                            <a class="nav-link" [routerLink]="['/addTask']">
                                                Add Task</a>
                                        </li>
                                    </div>
                                    <div class="col-sm-2">
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/viewAllTasks']">
                                                View Task</a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </section>
    </main>
</div>