<div [routerLink]="['/event',event.id]">
    <h2> {{event?.name}}</h2>
    <div>Date : {{event?.date}}</div>
    <div>Time : {{event?.time}}

        <div [ngSwitch]="event?.time">
            <div *ngSwitchCase="'8:00 am'">(Early Start)</div>
            <div *ngSwitchCase="'10:00 am'">(Late Start)</div>
            <div *ngSwitchDefault>(Normal Start)</div>
        </div>
    </div>
</div>
<div>Price : $ {{event?.price}}</div>
<div *ngIf="event?.location">
    <span>Location : {{event?.location?.address}} </span>
    <br>
    <span>{{event?.location?.city}} , {{event?.location?.country}}</span>
</div>
<div *ngIf="event?.onlineUrl">
    <span>Website : {{event?.onlineUrl}} </span>
    <br>
    <br>
</div>
<button class="btn btn-primary" (click)="handleClick()">Click me!</button>