<br>
<div class="form-group">
    <label for="totalAvailablePosts">Total Books : {{filteredBooks.length}}</label>
</div>
<div class="form-group">
    <label for="filterKey">Filter posts by : {{booksListFilter}}</label>
    <input [(ngModel)]='booksListFilter' type="text" class="form-control" id="filterKey" placeholder="Enter Search keyword">
</div>
<table class="table table-hover table-bordered" *ngIf='filteredBooks && filteredBooks?.length'>
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Price</th>
            <th scope="col">Subject</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of filteredBooks; let i = index'>
            <td align="center">{{i+1}}</td>
            <td>
                <a [routerLink]="['/getBook',book.bookId]">{{book.title}}</a>
            </td>
            <td align="center">{{book.price}}</td>
            <td align="center">{{book.subject.subtitle}}</td>
            <td align="center">
                <button type="button" class="btn btn-outline-info" (click)='onEdit(book.bookId)'>Edit</button>
            </td>
            <td align="center">
                <button type="button" class="btn btn-outline-danger" (click)='onDelete(book)'>Delete</button>
            </td>
        </tr>
    </tbody>
</table>