<div>
    <main>
        <section id="profileNavigation">
            <header>
                <nav class="navbar nav-fill navbar-dark bg-dark ">
                    <div class="container-fluid">
                        <div class="navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <div class="row">
                                    <div class="col-sm">
                                        <li class="nav-item active">
                                            <a class="nav-link" [routerLink]="['/profileSummary']" >Profile Summary</a>
                                        </li>
                                    </div>
                                    <div class="col-sm">
                                        <li class="nav-item">
                                            <a class="nav-link"  [routerLink]="['/profileHighlights']" >Profile
                                                Highights</a>
                                        </li>
                                    </div>
                                    <div class="col-sm">
                                        <li class="nav-item">
                                            <a class="nav-link"  [routerLink]="['/projects']" >Projects</a>
                                        </li>
                                    </div>
                                    <div class="col-sm">
                                        <li class="nav-item">
                                            <a class="nav-link"  [routerLink]="['/experience']" >Experience</a>
                                        </li>
                                    </div>
                                    <div class="col-sm">
                                        <li class="nav-item">
                                            <a  [routerLink]="['/personaldetails']" class="nav-link" >Personal Biography</a>
                                        </li>
                                    </div>
                                    <div class="col-sm">
                                        <li class="nav-item">

                                            <a class="nav-link"  [routerLink]="['/contact']" >Contact Me</a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </section>
    </main>
</div>