<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/posts']">View all posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/addPost']">Add post</a>
    </li>
  </ul>
<br>
<br>

  <div class="alert alert-success" role="alert" *ngIf="notification" >
    {{notifications}}
  </div>
 
  <router-outlet></router-outlet>
</div>