<div>
    <main>
        <section id="libraryNavigation">
            <header>
                <nav class="navbar nav-fill navbar-dark bg-dark ">
                    <div class="container-fluid">
                        <div class="navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <li class="nav-item active">
                                            <a class="nav-link" [routerLink]="['/listAllBooks']">
                                                View All Books</a>
                                        </li>
                                    </div>
                                    <div class="col-sm-2">
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/addNewBook']">
                                                Add New Book</a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </section>
    </main>
</div>